@import "tailwindcss";

:root {
  --black: #171717;
  --white: #ededed;
  --light-gray: #d6d6d6;
  --dark-gray: #272727;
  --background: var(--white);
  --foreground: var(--black);
  --code-background: var(--light-gray);
  --sidespace: 25%;
  --font-size: 1.2em;
  --line-height: 1.4em;
  --h1-size: 2em;
  --h2-size: 1.6em;
  --header-margin-bottom: 0.5em;
  --me-size: 7cm;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
    --code-background: var(--dark-gray);
  }
}

@media (width < 25cm) {
  :root {
    --sidespace: 3em;
  }

  .links {
    display: none;
  }
}

@media (width >= 25cm) {
  .links-narrow {
    display: none;
  }
}

@media (width < 20cm) {
  :root {
    --font-size: 0.8em;
    --line-height: 1.4em;
    --h1-size: 1.6em;
    --h2-size: 1.3em;
    --header-margin-bottom: 0.5em;
    --me-size: 5cm;
  }

  .title {
    font-size: 1.25cm;
    padding-top: 2cm;
    line-height: 1cm;
    text-align: center;
  }
}

@media (width >= 20cm) {
  .title {
    font-size: 2cm;
    padding-top: 2cm;
    line-height: 1.5cm;
    text-align: center;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding-left: var(--sidespace);
  padding-right: var(--sidespace);
}

h1 {
  font-size: var(--h1-size);
  margin-bottom: var(--header-margin-bottom);
}

h2 {
  font-size: var(--h2-size);
  margin-bottom: var(--header-margin-bottom);
}

.block {
  padding-bottom: 0.75cm;
  padding-top: 0.75cm;
}

.footer {
  text-align: center;
  font-size: 80%;
  padding: 1cm;
  margin-bottom: 50%;
}

.me {
  height: var(--me-size);
  width: var(--me-size);
  display: inline-block;
  background-image: url("/me-small.jpg");
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 0.5cm;
}

.links {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: var(--sidespace);
  left: 0;
  text-align: right;
  padding: 1.5cm;
  white-space: nowrap;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.links-narrow {
  text-align: center;
  margin-top: 0.25cm;
}

.links-narrow a {
  text-decoration: none;
}

.links-narrow a:hover {
  text-decoration: underline;
}

.hover-indicator {
  display: none;
}

:hover > .hover-indicator {
  display: inline-block;
}

a {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

ul.list-dash > li {
  padding-left: 2ch;
  position: relative;
}

ul.list-dash > li:before {
  content: "- ";
  position: absolute;
  left: 0;
}

.code {
  font-family: unset;
  background-color: var(--code-background);
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
}

pre.code {
  padding: 1em;
  overflow: scroll;
}

.tech-icon {
  height: 3em;
  width: auto;
  display: inline-block;
  margin: 0.5em;
}